*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "lato",sans-serif;
}

$color-item:#f1f8ff;
$color-orange:#FEA116;
$color-dark:#0f172b;

@mixin responsive($size) { // xs, sm, md, lg, xl, xxl
@if($size == xs) {
    @media (max-width: 575px) {
        @content;
    }
}
@else if($size == sm) {
    @media (max-width: 767px) {
        @content;
    }
}
@else if($size == md) {
    @media (max-width: 992px){
        @content;
    }
}
@else if($size == lg) {
    @media (max-width: 1200px) and (min-width: 993px) {
        @content;
    }
}
@else if($size == xl) {
    @media (min-width: 1201px) {
        @content;
    }
}
}


@font-face {
font-family: "fredoka";
src: url(../fonts/Fredoka_Condensed-Medium.ttf);
}
@font-face {
font-family: "lato";
src: url(../fonts/Lato-Regular.ttf);
}
@font-face{
  font-family:"Pacifico";
  src:url("../fonts/Pacifico-Regular.ttf")
}
/////////////////////////mixin
@mixin slideInLeft-animation{
  animation: slideInLeft 1s both;
}
@mixin btn-book-menu{
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 20px;
  color: #ffffff;
  background-color: $color-orange;
  margin-bottom: 10px;
  border-radius: 2px;
  margin-left: 40px;
}
/////////////////////////scroll///////////////////
#scroll-line{
  position: absolute;
  top:0;
  left: 0;
  height:4px;
  border-radius: 2px;
  background-color: $color-orange;
  width: 50%;
  &::-webkit-scrollbar{
    width: 0;
  }
}



///////////////////////////navbar//////////////////
.navbar-dark {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: transparent !important;
  .navbar-nav{
    .nav-link{
      position: relative;
      margin-left: 25px;
      padding: 35px 0;
      font-size: 15px;
      color:$color-item !important;
      text-transform: uppercase;
      font-weight: 500;
      outline: none;
      transition: .5s;

    }
    .nav-link:hover{
      color: $color-orange !important;
    }
    .nav-link.active{
      color: $color-orange !important;
    }

  }
  .navbar-brand{
    color: #ffffff;
    .text-primary{
      color: $color-orange !important;
    }
    h1{
      font-family:"fredoka",sans-serif ;
    }
  }
}
.btn{
  font-family: 'lato', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: .5s;
  font-size: 1rem;
  border-radius: 2px;

}
.btn-primary{
  background-color: $color-orange;
  border-color: $color-orange;

}
.btn-primary:hover{
  background-color: $color-orange;
  border-color: $color-orange;

}
.dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
// .bg-dark {
//   background-color: #0F172B !important;
// }
.color-scroll-menu{
  background-color: #0F172B !important;
}
.color-fixed-menu{
  background-color: transparent;
}
@include responsive(md){
  .navbar-dark  {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    // background:$color-dark;
    .navbar-collapse{
      margin-top: 15px;
      border-top: 1px solid rgba(255, 255, 255, .1);
    }
    .navbar-nav{
      .nav-item{
        padding: 10px 0;
         margin-left: 0;
         .dropdown-toggle{
          padding: 10px 0;
          margin-left: 0;
         }
      }
    }
}

  .bg-dark {
    background-color: #0F172B !important;
  }
}
///////////////////navbar end//////////////////////
///////////////next header section hero /////////////
.hero-header {
  width: 100%;
  // height: 700px;
  background: linear-gradient(rgba(15, 23, 43, 0.9), rgba(15, 23, 43, 0.9)), url(../assets/img/bg-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // position: absolute;
  top: 0;
  left: 0;
  right: 0;
  // margin: 0; 
  // padding: 0; 
  z-index: 1;
.row{
    // position: absolute;
    // top: 150px; /* فاصله از بالا */
    // // left: 50px; 
    .main-text-hero-header{
          // margin: 100px 0px;
          //  padding-left:60px ;
          //  padding-top: 40px;
      .delicious-animejs{
        color: #ffffff;
        font-family: 'fredoka',sans-serif;
        font-weight: 800;
        font-size: 80px;
        @include slideInLeft-animation;
        position: relative;
         .text-wrapper {
          position: relative;
          display: inline-block;
          padding-top: 0.2em;
          padding-right: 0.05em;
          padding-bottom: 0.1em;
          overflow: hidden;
          .letter {
            transform-origin: 50% 100%;
            display: inline-block;
            line-height: 1em;
          }
        }
      }
      p{
        font-size: 14px;
       color: #ffffff;
       margin: 5px 0px;
       padding: 5px 0px;
       line-height: 1.5;
       @include slideInLeft-animation;
      }
      a{
        @include btn-book-menu;
        margin: 0;
        padding: 20px 39px;
        @include slideInLeft-animation;

      }
    }

 
    .main-img-hero-header{
     
       
      margin: 100px 0px;

      img{
        animation: imgRotate 50s linear infinite;
        // @extend .img-fluid; // ارث‌بری از کلاس Bootstrap
         
        @include responsive(xs) {
          width: 60%;
       
        }
      
        @include responsive(sm) {
          width: 80%;
        }
        @include responsive(md) {
          width: 80%;
          margin: 0 auto;
        }
        @include responsive(lg) {
          width: 75%;
        }
        @include responsive(xl) {
          width: 80%;
        }
      }
    }
}


}
@keyframes imgRotate {
100% {
  transform: rotate(360deg);
}
}
@keyframes slideInLeft{
0% {
  transform: translate3d(-100%,0,0);
  visibility: visible;
}
100% {
  transform: translateZ(0);
}
}
//dishfood

.image-delicions{
  width: 100px;
  height: auto;
  max-width: 150%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  @include responsive(sm){
    max-width: 100%;
  }
}
///////////////next header section hero end /////////////
///////////////////////
/// ////////////////////main
/// service section start/////
.service-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
  transition: .5s;
  i.text-primary{
    color: $color-orange !important;
  }
  h5{
    font-size: 1.5rem;
    font-weight: 800;
  }

}
.service-item:hover{
  background-color: $color-orange;
  transition: .5s;
i.text-primary,h5,p{
    color: #ffffff !important;
  }
}

/////////secton service end/////////
///Reservation Start////////////////
.video{
  position: relative;
  height: 100%;
  min-height: 500px;
  background: linear-gradient(rgba(15, 23, 43, .1), rgba(15, 23, 43, .1)), url('../assets/img/video.jpg');
    // background-position-x: 0%, 0%;
    // background-position-y: 0%, 0%;
    // background-repeat: repeat, repeat;
    // background-size: auto, auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .btn-play{
    position:absolute;
    cursor: pointer;
    // z-index:3;
    top: 50%;
    left: 50%;
    width: 32px;
  height: 44px;
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 18px 20px 18px 28px;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid $color-dark;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
  }
  &::before{
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background:$color-orange;
    border-radius: 50%;
    animation:pulse-border 1500ms ease-out infinite;
  }
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: $color-orange;
    border-radius: 50%;
    transition: all 200ms;
  }
  }

  @keyframes pulse-border{
    0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
    }
  }
////modal window///
}.modal {
  display: none;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); 
  .modal-content {
    position: relative;
    margin: 15% auto;
    padding: 20px;
    background-color: white;
    width: 80%;
    max-width: 700px;
    border-radius: 10px;
    .close {
      position: absolute;
      top: 10px;
      right: 15px;
      color: #aaa;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
    }
    .close:hover, .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
    .responsive-iframe {
      margin-top:40px;
      position: relative;
      padding-bottom: 56.25%; 
      height: 0;
      overflow: hidden;
      max-width: 100%;
      background: #000;
        iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
      }
    }
  }
 
}
/////modal window end////

///left sectoin form
.section-left-form {
  background-color: $color-dark;
  .section-title {
    position: relative;
    display: inline-block;
    color: $color-orange !important;
    font-family: 'Pacifico', cursive;
    font-size: 1.25rem;
    text-align: left !important;
    font-weight: 400 !important;
  
    &::after {
      position: absolute;
      content: "";
      width: 45px;
      height: 2px;
      top: 50%;
      right: -55px;
      margin-top: -1px;
      background:$color-orange;
    
    }
      
    &::before {
      position: absolute;
      content: "";
      width: 45px;
      height: 2px;
      top: 50%;
      left: -55px;
      margin-top: -1px;
      background:$color-orange;
    
    }
  }
}
.input-error {
  border: 2px solid red;
}



/// Reservation  end////////////////
///////////////our gallery start//////
.our-gallery{
  background-color: $color-dark;
  .our-gallery-text{
    position: relative;
    display: inline-block;
    color: $color-orange !important;
    font-family: 'Pacifico', cursive;
    font-size: 1.25rem;
    text-align: center !important;
    font-weight: 400 !important;
  
    &::after {
      position: absolute;
      content: "";
      width: 45px;
      height: 2px;
      top: 50%;
      right: -55px;
      margin-top: -1px;
      background:$color-orange;
    
    }
    &::before {
      position: absolute;
      content: "";
      width: 45px;
      height: 2px;
      top: 50%;
      left: -55px;
      margin-top: -1px;
      background:$color-orange;
    
    }
  }
}
.image-list{

      overflow-x: hidden;
  .image-item{
    width:325px;
    height: 400px;
    object-fit: cover;
    @include responsive(sm){
    width: 280px;
    height: 380px;
    }
  }

 &::-webkit-scrollbar{
       display: none;
 }
}
.slider-scrollbar{
  height: 24px;
  width: 100%;

  .scrollbar-track{
    position: relative;
    height: 2px;
    width: 100%;
    background-color:#ccc;
    border-radius: 4px;

    &:hover{
      height:4px;

    }
    .scrollbar-thumb{

      position: absolute;
      height: 100%;
      width: 50%;
      background-color:$color-orange;
      left: 0;
      border-radius: inherit;
      cursor: grab;
      &::after{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -10px;
        bottom: -10px;
      }
     &:active{
      cursor: grabbing;
      height: 8px;
      top: -2px;
     }
     @include responsive(sm){
        width: 20%;
      }
    }

  }

}
.slider-wrapper{
  position: relative;
}
.slide-button{
  height: 50px;
  width: 50px;
  color: $color-item;
  background-color: $color-orange;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  border:none;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  &:hover{
              background-color: $color-item;
              color: $color-orange;
  }
}
#prev-slid{
  
  left: -15px;
}
#next-slid{
  right: -15px;
}
///our gallery end/////////////////
/// team start////////////////
.section-title-team{
  position: relative;
  display: inline-block;
  color: $color-orange !important;
  font-family: "Pacifico";
  font-weight: 400 !important;
  &::before{
    position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  left: -55px;
  margin-top: -1px;
  background:$color-orange;
  }
  &::after{
    position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  right: -55px;
  margin-top: -1px;
  background: $color-orange;
  }

}
.section-our-chef{
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.2;
  color:$color-dark;
}
.team-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
  height: calc(100% - 38px);
  position: relative; 

   img {
    transition: .5s;
    .img-fluid {
      max-width: 100%;
      height: auto;
    }
  }
  .full-name-chef{
    font-weight: 800;
  line-height: 1.2;
  color:$color-dark;
  }
  .desifnation{
    font-size: .875em;
  }
    .btn {
      border-radius: 38px 38px 0 0;
    }
    &:hover {
      height: 100%;
    box-shadow: 0 0 60px rgba(0, 0, 0, .15);
    }
    &:hover img {
      transform: scale(1.1);
  }
  
}

////////////////end team////////
/// footer///////////
footer{
  background-color:$color-dark;
.section-title{
 position: relative;
  display: inline-block;
  color: $color-orange !important;
  font-family: "Pacifico";
  font-weight: 400 !important;
   &::after{
    position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  right: -55px;
  margin-top: -1px;
  background: $color-orange;
  }
}
.btn.btn-link{
   display: block;
   margin-bottom: 6px;
   padding: 0;
   text-align: left;
   font-size: 15px;
   font-weight: normal;
   text-transform: capitalize;
   transition: 0.3s; 
   text-decoration: none;
   color: $color-item;
  //  .btn.btn-link::before{
  //     position: relative;
  //     content: "\f105";
  //     font-weight: 900;
  //     font-size: larger;
  //    color: $color-item;
  //     margin-right: 10px;
  //  }
}
.btn.btn-social{
  margin-right: 5px;
  width: 35px;
  height: 35px;
 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 35px;
}
.btn.btn-social:hover i{
color:$color-orange;
}
input{
  border-color: $color-orange !important;
}
}
